@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");
.project-item .project-content .links li, .project-item .project-content .tags-container p {
  padding: 0.5em 1em;
  margin: 0.5em 0.5em 0.5em 0;
  background-color: rgba(39, 39, 39, 0.768627451);
  border-radius: 50px;
  font-size: 1rem;
}

body {
  font-family: "Anonymous Pro", monospace;
  background-color: #000;
  color: #dfdfdf;
  box-sizing: border-box;
  line-height: 1.4;
}

p {
  font-size: 1.1rem;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #dfdfdf;
}

ul {
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4af626;
}

.arrow-container {
  background-color: rgba(39, 39, 39, 0.768627451);
  padding: 1em;
  position: fixed;
  border-radius: 5px;
  top: 85%;
  left: 95%;
}
.arrow-container i {
  font-size: 2rem;
  color: #4af626;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 4%;
}
.navbar .links-container {
  display: flex;
  align-items: center;
  padding: 0 2%;
  font-size: 1.1rem;
}
.navbar .links-container button {
  padding: 2% 4%;
  background: none;
  color: #dfdfdf;
  border: #4af626 solid 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.navbar .links-container button:hover {
  border: 2px dotted #4af626;
}
.navbar .links-container .links {
  padding: 0 3%;
  color: gray;
}
.navbar .links-container .links:hover {
  color: #4af626;
  transition: 0.4s;
}

.nav-hr {
  border: 0.5px solid #4af626;
  box-shadow: 0px 10px 15px #4af626;
}

.hero-section {
  display: flex;
  align-items: center;
  padding: 9% 7%;
}
.hero-section .content {
  flex: 3;
}
.hero-section .content h1 {
  color: #4af626;
  font-size: 3.5rem;
  font-weight: 400;
}
.hero-section .content * {
  margin-bottom: 0.5em;
}
.hero-section .content li {
  margin-top: 0.5em;
}
.hero-section .image-container {
  flex: 2;
}
.hero-section .image-container > img {
  width: 80%;
  border-radius: 50%;
  border: 3px solid #4af626;
}

.hero-hr {
  border: 0.5px solid #4af626;
  box-shadow: 0px 10px 15px #4af626;
  width: 300px;
  margin: auto;
}

.projects {
  padding: 9% 7%;
}
.projects h1 {
  color: #4af626;
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 1em;
}

.project-item {
  margin-bottom: 10em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.project-item h1 {
  color: #dfdfdf;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  transition: 0.4s;
}
.project-item h1:hover {
  color: #4af626;
}
.project-item .project-img-container {
  flex: 1;
}
.project-item .project-img-container img {
  width: 95%;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: 2px 2px 10px #dfdfdf;
  cursor: pointer;
}
.project-item .project-img-container img:hover {
  transform: scale(1.1);
}
.project-item .project-content {
  flex: 0.7;
  padding: 0 1em;
}
.project-item .project-content .project-desc {
  margin: 0.5em 0;
  text-align: left;
}
.project-item .project-content .tags-container {
  display: flex;
}
.project-item .project-content .links {
  display: flex;
  margin-top: 0.5em;
}
.get-in-touch {
  padding: 9% 7%;
}
.get-in-touch h1 {
  color: #4af626;
  font-size: 3.5rem;
  font-weight: 400;
}
.get-in-touch * {
  margin-bottom: 0.5em;
}
.get-in-touch > ul {
  margin-top: 0.5em;
}
.get-in-touch > ul * {
  margin-top: 0.5em;
  transition: 0.2s;
}
.get-in-touch > ul *:hover {
  color: #4af626;
}

.footer {
  text-align: center;
  padding: 2% 0;
}