@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");

@import "./mixins";
@import "./global";


// ---------------------ARROW-BTN------------------------
.arrow-container {
  background-color: #272727c4;
  padding: 1em;
  position: fixed;
  border-radius: 5px;
  top: 85%;
  left: 95%;
  i {
    font-size: 2rem;
    color: $primary;
  }
}

// -------NAVBAR-----------------
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 4%;

  .links-container {
    display: flex;
    align-items: center;
    padding: 0 2%;
    font-size: 1.1rem;

    button {
      @include btn;
    }
    .links {
      padding: 0 3%;
      color: gray;
      &:hover {
        color: $primary;
        transition: $transition;
      }
    }
  }
}

.nav-hr {
  @include hr;
}

// -------------HERO-SECTION----------

.hero-section {
  display: flex;
  align-items: center;
  padding: $base-padding;

  .content {
    padding-right: 1em;
    flex: 3;

    h1 {
      @include heading;
    }
    * {
      margin-bottom: $base-margin;
    }
    li {
      margin-top: $base-margin;
    }
  }
  .image-container {
    flex: 2;

    > img {
      width: 80%;
      border-radius: 50%;
      border: 3px solid $primary;
    }
  }
}

.hero-hr {
  @include hr;
  width: 300px;
  margin: auto;
}

// --------------------PROJECTS------------------
.projects {
  h1 {
    @include heading;
    margin-bottom: 1em;
  }
  padding: $base-padding;
}

.project-item {
  margin-bottom: $more-margin * 5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  h1 {
    @include heading(1.5rem, $font-color);
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $primary;
    }
  }

  .project-img-container {
    flex: 1;
    img {
      width: 95%;
      border-radius: 10px;
      transition: $transition;
      box-shadow: 2px 2px 10px $font-color;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .project-content {
    flex: 0.7;
    padding: 0 1em;
    .project-desc {
      margin: $base-margin 0;
      text-align: left;
    }
    .tags-container {
      display: flex;

      p {
        @extend %tags-layout;
      }
    }
    .links {
      display: flex;
      margin-top: $base-margin;
      li {
        @extend %tags-layout;
      }
    }
  }
}

// --------------------GET-IN-TOUCH------------------

.get-in-touch {
  padding: $base-padding;
  h1 {
    @include heading;
  }
  * {
    margin-bottom: $base-margin;
  }
  > ul {
    margin-top: $base-margin;
    * {
      margin-top: $base-margin;
      transition: 0.2s;
      &:hover {
        color: $primary;
      }
    }
  }
}

// ---------------------FOOTER-------------------

.footer {
  text-align: center;
  padding: 2% 0;
}
